/*----------divers---------*/
/*----------icones heart------*/
/*----------page acceuil-----*/
/*----------page menu-------*/
/*----------page chargement----*/
@font-face {
  font-family: "Shrikhand";
  src: url("assets/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto-Regular.ttf");
}
@keyframes heart-filling {
  /*---------------------------------------------------------icones heart-----------------------*/
  0% {
    color: #99E2D0;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 10%, #99E2D0 0%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 20%, #99E2D0 10%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 30%, #99E2D0 20%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 40%, #99E2D0 30%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 50%, #99E2D0 40%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 60%, #99E2D0 50%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 70%, #99E2D0 60%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 80%, #99E2D0 70%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 90%, #99E2D0 80%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
    -webkit-text-stroke-width: 0px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#heart-icon {
  font-size: 1.3em;
  color: #99E2D0;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#heart-icon:hover {
  animation: heart-filling 1s;
  animation-fill-mode: forwards;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
  text-align: center;
  font-family: Roboto;
}

header h1 {
  /*------------------------------------------page acceuil--------------------------*/
  font-family: Shrikhand;
  margin-bottom: 0.3em;
}

.location {
  padding: 0.5em;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: 0 5px 10px -10px inset;
}

.topbox {
  background-color: #f6f6f6;
  padding: 2em;
}
.topbox__button {
  margin-bottom: 2em;
  margin-top: 1em;
  color: white;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  padding: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.2em 0.3em grey;
  font-size: 1rem;
  font-weight: bold;
}
.topbox__button:hover {
  filter: brightness(110%);
  box-shadow: 0 0.3em 0.3em 0.3em grey;
}

.howto {
  text-align: left;
  font-weight: bold;
  margin: 1.5em;
}
.howto .howto__element {
  background-color: #f6f6f6;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #eaeaea;
  font-size: 0.8em;
  margin-bottom: 1.3em;
  height: 4em;
}
.howto .howto__element img {
  height: 1.5em;
  position: relative;
  right: 0.7em;
  top: 0.3em;
}
.howto .howto__element p {
  display: inline-block;
}
.howto .howto__element .icon-number {
  display: inline-block;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.4em;
  text-align: center;
  position: relative;
  right: 2em;
}

.restaurants {
  background-color: #f6f6f6;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}
.restaurants h2 {
  padding-left: 1em;
}
.restaurants a {
  text-decoration: none;
}
.restaurants__thumbnail {
  border-radius: 1em;
  overflow: hidden;
  margin: 1.3em;
  box-shadow: 0.5em 0.5em 0.5em #eaeaea;
}
.restaurants__thumbnail--photo {
  max-width: 100%;
}
.restaurants__thumbnail--tag {
  background-color: white;
  padding: 1em;
  padding-left: 1em;
  display: flex;
  justify-content: space-between;
  color: black;
}

footer {
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 2em;
}
footer h2 {
  font-family: Shrikhand;
}
footer .lien-contact {
  text-decoration: none;
  color: white;
}

.header__arrow {
  /*------------------------------------------------------page menu-----------*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__arrow img {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 2.5em;
  left: 2em;
}

.main {
  position: relative;
  margin-bottom: -40px;
}
.main .photoresto {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .photoresto img {
  width: 100%;
}

.menu {
  position: relative;
  bottom: 40px;
  border-radius: 30px 30px 0px 0px;
  text-align: left;
  background-color: #f6f6f6;
}
.menu .titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand;
  padding: 1em;
}
.menu .titre img {
  width: 2em;
  height: 2em;
}
.menu .foodtype {
  display: flex;
  margin: 1em;
}
.menu .underline {
  background-color: #99E2D0;
  height: 0.1em;
  width: 2em;
  position: relative;
  left: 1em;
  bottom: 0.8em;
}
.menu .entrees {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .entrees__element {
  background-color: #f6f6f6;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #eaeaea;
  font-size: 0.8em;
  margin-bottom: 1.3em;
  height: 4em;
  background-color: white;
  width: 85%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: apparition-menu 1s;
  animation-fill-mode: both;
}
.menu .entrees__element:hover > .entrees__element--checkedicon {
  animation: apparition-checkedicon 500ms 0s ease-in-out;
  animation-fill-mode: both;
  display: flex;
}
.menu .entrees__element:hover .fa {
  animation: rotation 250ms 250ms;
}
.menu .entrees__element--pricetag {
  align-self: flex-end;
  font-weight: bold;
  padding: 1em;
}
.menu .entrees__element--text {
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
.menu .entrees__element--checkedicon {
  background-color: #99E2D0;
  color: white;
  width: 20%;
  display: none;
  text-align: center;
}
.menu .entrees__element--checkedicon .fa-check-circle {
  font-size: 1.5em;
  margin: auto;
}
.menu .main-dish {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .main-dish__element {
  background-color: #f6f6f6;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #eaeaea;
  font-size: 0.8em;
  margin-bottom: 1.3em;
  height: 4em;
  background-color: white;
  width: 85%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: apparition-menu 1s 0.5s;
  animation-fill-mode: both;
}
.menu .main-dish__element:hover > .main-dish__element--checkedicon {
  animation: apparition-checkedicon 500ms 0s ease-in-out;
  animation-fill-mode: both;
  display: flex;
}
.menu .main-dish__element:hover .fa {
  animation: rotation 250ms 250ms;
}
.menu .main-dish__element--pricetag {
  align-self: flex-end;
  font-weight: bold;
  padding: 1em;
}
.menu .main-dish__element--text {
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
.menu .main-dish__element--checkedicon {
  background-color: #99E2D0;
  color: white;
  width: 20%;
  display: none;
  text-align: center;
}
.menu .main-dish__element--checkedicon .fa-check-circle {
  font-size: 1.5em;
  margin: auto;
}
.menu .desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .desserts__element {
  background-color: #f6f6f6;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #eaeaea;
  font-size: 0.8em;
  margin-bottom: 1.3em;
  height: 4em;
  background-color: white;
  width: 85%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: apparition-menu 1s 1s;
  animation-fill-mode: both;
}
.menu .desserts__element:hover > .desserts__element--checkedicon {
  animation: apparition-checkedicon 500ms ease-in-out 0s;
  animation-fill-mode: both;
  display: flex;
}
.menu .desserts__element:hover .fa {
  animation: rotation 250ms 250ms;
}
.menu .desserts__element--pricetag {
  align-self: flex-end;
  font-weight: bold;
  padding: 1em;
}
.menu .desserts__element--text {
  padding: 1em;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
.menu .desserts__element--checkedicon {
  background-color: #99E2D0;
  color: white;
  width: 20%;
  display: none;
  text-align: center;
}
.menu .desserts__element--checkedicon .fa-check-circle {
  font-size: 1.5em;
  margin: auto;
}

.order {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}
.order__button {
  margin-bottom: 2em;
  margin-top: 1em;
  color: white;
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  padding: 1.2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0.2em 0.3em grey;
  font-size: 1rem;
  font-weight: bold;
  min-width: 50vw;
  margin-bottom: 2.5em;
}
.order__button:hover {
  filter: brightness(110%);
  box-shadow: 0 0.3em 0.3em 0.3em grey;
}

@keyframes apparition-menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition-checkedicon {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading_page {
  /*--------------------------------------------------page chargement------------------------------*/
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loadpage 1ms 3s;
  animation-fill-mode: forwards;
}
.loading_page h1 {
  font-size: 3em;
  font-family: Shrikhand;
}

.loading-squares {
  position: relative;
  height: 10%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.squares {
  background-color: #99E2D0;
  width: 2em;
  height: 2em;
  animation: anim-squares 0.8s;
  animation-iteration-count: 2;
  animation-direction: normal;
  transform: scale(0.3);
}

#square_1 {
  left: 18%;
  animation-delay: 0.45s;
}

#square_2 {
  left: 34%;
  animation-delay: 0.6s;
}

#square_3 {
  left: 50%;
  animation-delay: 0.75s;
}

#square_4 {
  left: 66%;
  animation-delay: 0.9s;
}

#square_5 {
  left: 82%;
  animation-delay: 1.05s;
}

@keyframes anim-squares {
  0% {
    transform: scale(1);
    background-color: #9356DC;
  }
  100% {
    transform: scale(0.3);
    background-color: #FF79DA;
  }
}
@keyframes loadpage {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
  }
}
@media (min-width: 768px) {
  /*Media tablet*/
  /*-----------------------------media queries-----------------*/
  .firsthalf {
    display: flex;
    justify-content: space-around;
    border: solid 0.1em #99E2D0;
  }

  .topbox {
    width: 40%;
    background-color: white;
    border-right: solid 0.1em #99E2D0;
  }

  .howto {
    width: 40%;
  }

  .apercu-resto {
    height: 200px;
    overflow: hidden;
  }
}
@media (min-width: 991px) {
  /*Media desktop*/
  .firsthalf {
    display: flex;
    justify-content: space-around;
    border: solid 0.1em #99E2D0;
  }

  .topbox {
    width: 40%;
    background-color: white;
    border-right: solid 0.1em #99E2D0;
  }

  .howto {
    width: 40%;
  }

  .restaurants {
    display: flex;
  }

  .restaurants__thumbnail--photo {
    width: 40em;
  }

  .photoresto {
    height: 50vh;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu .titre {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .menu .entrees {
    width: 25%;
  }
  .menu .main-dish {
    width: 25%;
  }
  .menu .desserts {
    width: 25%;
  }
  .menu .underline {
    width: 0.2em;
    height: 10em;
    left: 0.5em;
    top: 1em;
  }
  .menu .foodtype {
    margin-right: 0;
    font-size: 0.8em;
  }
  .menu .order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  footer .footer__items {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
